@import "tailwindcss";

/* App base styles */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #F7F7FB;
  color: #121826;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
